@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	color: $color-white;
	//color: $main-light;
}

body {
	background: $background-color-main;
	overflow-x: hidden;
}

main {
	overflow-x: hidden;
}

#loco-scroll{
	will-change: transform;
}

.menu-button {

	mix-blend-mode: difference;

	.on-hover-bg {
		background-color: $color-white;
		clip-path: ellipse(30% 0% at 50% 100%);
		transition: 0.3s clip-path;
		z-index: -1;
	}

	&:hover .on-hover-bg {
		clip-path: ellipse(100% 100% at 50% 80%);
	}
}

.folio-menu{
	background-color: $background-color-light;

	a, p, i, button{
		color: black;
	}

	.link-color-block{
		background-color: $main-medium;
	}

	.active-nav-menu{
		background-color: $main-medium;

		span{
			color: $color-white;
		}
	}

	.close-menu-btn .hover-span{
		background: $main-medium;
	}
}

@media (max-width: 767px) {
	.navigation {
		display: none;
	}
}

@media (min-width: 1920px){
	.menu-button{
		padding: 14px 115px!important;
	}
}

@layer components {
	.nav-btn {
		@apply mx-[10px] text-[#949494] uppercase transition-colors
		duration-[0.3s] hover:text-[#{$main-medium}]
		relative
		after:absolute after:bottom-0 after:left-0 after:h-[1px] after:bg-[#{$main-medium}] after:w-0
		after:transition-all after:duration-[0.5sec]
		after:hover:w-full;
	}

	.nav-active {
		@apply text-[#{$main-medium}];
	}
}
