.headingName{
	line-height: 90%;

	h2{
		//color: $color-white;
		color: $secondary-light;
	}
}

// .flow-text span, .flow-text i{
// 	color: $main-medium;
// }

@media (max-width: 640px){
	.headingName{
		justify-content: space-around;
	}
}

@media (max-width: 1000px){
	.headingName h2{
		transform: translateX(0)!important;
	}
}

@media(min-width: 1700px){
	.aboutMeText{
		font-size: 3.3rem;
		line-height: 3.5rem;
	}
}

@media (min-width: 1920px) {

	.headingName{
		font-size: 6.9rem;
	}

    .flowText{
        font-size: 8rem;
    }
}
