.headingName{
	line-height: 90%;

	h2{
		color: $main-medium;
	}
}

.worksPanelStyles{
	background-color: $main-light;

	h3, h4, p{
		color: black;
	}

	@media (min-width: 1800px){

		p{
			font-size: 1.6rem;
		}

		h4{
			font-size: 5rem;
		}
	}

	@media (max-width: 1115px){
		p{
			font-size: 0.8rem;
			line-height: 1rem;
		}

		h4{
			font-size: 3rem;
		}
	}


	div:nth-child(2){
		height: calc(85vh - 9rem);
	}

	div:nth-child(4){
		height: 15vh;
	}
}

.worksSectionMobile{
	background-color: $main-light;
	padding: 20px;

	h3, h4, p{
		color: black;
	}
}

.contactSection{
	background-color: $main-light;

	h3, p{
		color: black;
	}

}

@media (max-width: 640px){
	.headingName{
		justify-content: space-around;
	}
}

@media (max-width: 1000px){
	.headingName h2{
		transform: translateX(0)!important;
	}
}

@media(min-width: 1700px){
	.aboutMeText{
		font-size: 3.3rem;
		line-height: 3.5rem;
	}
}

@media(min-width: 1700px){

	.contactLocation{

		padding-top: 6rem;
		padding-left: 11rem;

		p:nth-child(1){
			font-size: 1.5rem;
		}

		p:nth-child(2){
			font-size: 3rem;
		}
	}

	.contactInfo div{
		margin-top: 2.7rem;

		p:nth-child(1){
			font-size: 2rem;
		}

		p:nth-child(2){
			font-size: 5.5rem;
		}
	}
}

@media (min-width: 1920px) {

	.headingName{
		font-size: 6.9rem;
	}

    .flowText{
        font-size: 8rem;
    }
}
