.heading-name{
	line-height: 90%;

	h2{
		//color: $color-white;
		color: $secondary-light;
	}
}

// .flow-text span, .flow-text i{
// 	color: $main-medium;
// }

@media (max-width: 640px){
	.heading-name{
		justify-content: space-around;
	}
}

@media (max-width: 1000px){
	.heading-name h2{
		transform: translateX(0)!important;
	}
}

@media (min-width: 1920px) {

	.heading-name{
		font-size: 6.9rem;
	}

    .flow-text{
        font-size: 8rem;
    }
}
